.resume-Actions-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
    background-color: #e6e6e6;
}

.resumeActionsBtn{
    width: 120px;
    height: 35px;
    padding: 5px;
    background-color: #ff29ed;
    color: white;
    border: solid black 1px;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
}
.resumeActionsBtn:hover {
    /* background-color: whitesmoke; */
    background-color: #ff8ff6;
    color: black;
    border: black solid 1px;
    cursor: pointer;
  }
@media screen and (max-width:1155px) {

    .resume-Actions-container{
    display: flex;
    flex-direction: column-reverse;
    
    
}
}